<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459979365719-lam90fkb7fpdruu98h1otebdfvkja016.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459979365719-lam90fkb7fpdruu98h1otebdfvkja016</string>
	<key>API_KEY</key>
	<string>AIzaSyBqismF2vy2XsWQtFw4S-oTv_UwuYoVuXA</string>
	<key>GCM_SENDER_ID</key>
	<string>459979365719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDietTips</string>
	<key>PROJECT_ID</key>
	<string>diet-app-52095</string>
	<key>STORAGE_BUCKET</key>
	<string>diet-app-52095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459979365719:ios:0a93c45c2c9379fa063212</string>
</dict>
</plist>